html, body{
    height: 100vmin;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 5px;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    color: white;
}

nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav a{
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 110%;
    color: white;
    padding: 5px;
    border: 5px solid white;
    border-radius: 5px;
    margin: 0 .5vw;
}

.active{
    background-color: #ffffff;
    color: #000000;
}

nav a:hover:not(.active){
    background-color: #b2b2b2;
    color: #000000;
}

/* main content */


/* footer */
