html, body{
    height: 100vmin;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
    background-color: black;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    color: white;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

nav a{
    font-family: Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 110%;
    color: white;
    padding: 5px;
    border: 20px solid white;
    border-radius: 5px;
}

/* main content */


/* footer */
